/* ---------------------------------------------------------------------
 Fonts included via the google font api
------------------------------------------------------------------------ */
@import url("http://fonts.googleapis.com/css?family=Open+Sans");

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */

// colors
$COLOR_WHITE: #ffffff;
$COLOR_LIGHT: #f6f3ee;
$COLOR_GREY: #aeaeae;
$COLOR_DARK:  #2d2d2d;
$COLOR_ACCENT: #39839e;

// fonts
$FONT_FAMILY_SERIF: Georgia, "Times New Roman", Times, serif;
$FONT_FAMILY_SANS_SERIF: "Open Sans", Helvetica, Arial, sans-serif;
$FONT_FAMILY_MONOSPACE: "Lucida Console", Monaco, monospace;

// font scale
// http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Open+Sans&font-family=%27Open%20Sans%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=#333

$FONT_SIZE_XXS: 0.694rem;
$FONT_SIZE_XS:  0.833rem;
$FONT_SIZE_SM:  1.000rem;
$FONT_SIZE_MD:  1.200rem;
$FONT_SIZE_LG:  1.440rem;
$FONT_SIZE_XL:  1.728rem;
$FONT_SIZE_XXL: 2.074rem;

$FONT_SIZE_DEFAULT: $FONT_SIZE_SM;

// line heights
$LINE_HEIGHT_STANDARD: 1.4;

// vertical rhythm
$VR_CONDENSED: .7rem;
$VR_STANDARD: 1.6rem;
$VR_EXPANDED: 1.8rem;

// padding
$PAD_SMALL: 14px;
$PAD_STANDARD: 20px;
$PAD_LARGE: 40px;

// mediaqueries / breakpoints
$BREAKPOINT_SM: 36em; // 576px
$BREAKPOINT_MD: 44em; // 704px
$BREAKPOINT_LG: 52em; // 832px
$BREAKPOINT_XL: 58em; // 928px

/* ---------------------------------------------------------------------
 Mixins
------------------------------------------------------------------------ */
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin breakpoint($point) {
    @if $point == SM {
        @media (min-width: $BREAKPOINT_SM) { @content; }
    }
    @else if $point == MD {
        @media (min-width: $BREAKPOINT_MD) { @content; }
    }
    @else if $point == LG {
        @media (min-width: $BREAKPOINT_LG) { @content; }
    }
    @else if $point == XL {
        @media (min-width: $BREAKPOINT_XL) { @content; }
    }
}

@mixin box-sizing($BOX_MODEL) {
    -webkit-box-sizing: $BOX_MODEL;
       -moz-box-sizing: $BOX_MODEL;
            box-sizing: $BOX_MODEL;
}

@mixin border-radius($RADIUS...) {
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
         -o-background-clip: padding-box;
            background-clip: padding-box; // stops color from going past the edge of the rounded element
    -webkit-border-radius: $RADIUS;
       -moz-border-radius: $RADIUS;
            border-radius: $RADIUS;
}

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar, even when there is no scrolling */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; // media should never overflows it's container
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    background-color: $COLOR_LIGHT;
    color: $COLOR_DARK;
    font-family: $FONT_FAMILY_SANS_SERIF;
    font-size: $FONT_SIZE_DEFAULT;
    line-height: $LINE_HEIGHT_STANDARD;
}

a {
    text-decoration: none;
    color: $COLOR_DARK;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $COLOR_DARK;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead {
    padding: $PAD_STANDARD 0;
    text-align: center;
    line-height: $LINE_HEIGHT_STANDARD;
    @include breakpoint(LG) {
        text-align: left;
        display: table;
        width: 100%;
        border-bottom: 1px solid $COLOR_DARK;
        margin-bottom: 30px;
    }
}

.masthead-logo {
    margin-bottom: $VR_CONDENSED;
    @include breakpoint(LG) {
        margin-bottom: 0; // reset
        display: table-cell;
        width: 50%;
        text-align: left;
        vertical-align: middle;
    }
}

.masthead-logo a {
    font-size: $FONT_SIZE_MD;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include breakpoint(LG) {
        font-size: $FONT_SIZE_LG;
    }
}

.masthead-nav {
    @include breakpoint(LG) {
        display: table-cell;
        width: 50%;
        text-align: right;
        vertical-align: middle;
    }
}

.masthead-nav-list > li {
    display: inline-block;
}

.masthead-nav-list li + li {
    padding-left: $PAD_STANDARD;
}

.masthead-nav-list a {
    font-size: $FONT_SIZE_SM;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include breakpoint(LG) {
        font-size: $FONT_SIZE_MD;
    }
}

/* ---------------------------------------------------------------------
 Layout Module - Tier
------------------------------------------------------------------------ */
.tier {
    @include clearfix(); // always clear a tier in case other generated content has floats
    min-height: 20px; // a tier should always be visible
}

.tier_accent {
    background-color: $COLOR_ACCENT;
}

.tier_dark {
    background-color: $COLOR_DARK;
}

/* ---------------------------------------------------------------------
 Layout Module - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 980px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 $PAD_STANDARD;
    @include breakpoint(MD) {
        padding: 0 $PAD_LARGE;
    }
}

/* ---------------------------------------------------------------------
 Layout Module - Grid
------------------------------------------------------------------------ */
@include breakpoint(LG) {
    .grid {
        @include clearfix();
    }

    .grid-col {
        @include box-sizing(border-box);
        float: left;
    }

    .grid-col_main {
        width: 100%;
    }
}

/* ---------------------------------------------------------------------
 Layout Module - Blocks

// chrome has jank handlign for this but it's not busted. just extra space underneath all the columns.
------------------------------------------------------------------------ */
.pods {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: $PAD_STANDARD;
       -moz-column-gap: $PAD_STANDARD;
            column-gap: $PAD_STANDARD;
    overflow: hidden;
    @include breakpoint(SM) {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
    @include breakpoint(LG) {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
}

.pods-item {
    display: inline-block;
    margin: 0 0 $PAD_STANDARD;
    width: 100%;
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
              page-break-inside: avoid; // mozilla
            column-break-inside: avoid;
}

/* ---------------------------------------------------------------------
 Container Module - Teaser
------------------------------------------------------------------------ */
.teaser {
    text-align: left; // always align left, even if the container is centered
    background-color: $COLOR_WHITE;
    box-shadow: 0 2px 4px -2px rgba($COLOR_DARK,.15);
}

.teaser-media img {
    display: block; // remove extra whitespace below image
    width: 100%;  // required for use within CSS columns in Firefox
    height: auto; // required for use within CSS columns in Firefox
}

.teaser-bd {
    padding: $PAD_SMALL $PAD_STANDARD;
}

.teaser-bd-title {
    margin-bottom: $VR_CONDENSED;
    font-size: $FONT_SIZE_SM;
}

.teaser-bd-date {
    margin-bottom: $VR_CONDENSED;
    font-size: $FONT_SIZE_XS;
    color: $COLOR_GREY;
}

.teaser-bd-excerpt {
    font-size: $FONT_SIZE_XS;
}

/* ---------------------------------------------------------------------
 Content Module - Heading
------------------------------------------------------------------------ */
.hdg {
    font-size: $FONT_SIZE_MD;
    line-height: $LINE_HEIGHT_STANDARD;
    font-family: $FONT_FAMILY_SANS_SERIF;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hdg a {
    color: $COLOR_DARK;
    text-decoration: none;
}

@include breakpoint(SM) {
    .hdg_1 {
        font-size: $FONT_SIZE_LG;
    }
}

@include breakpoint(MD) {
    .hdg_1 {
        font-size: $FONT_SIZE_XL;
    }

    .hdg_2 {
        font-size: $FONT_SIZE_LG;
    }
}

/* ---------------------------------------------------------------------
 Content Module - User Content
------------------------------------------------------------------------ */
.userContent {

    // keep long shit (like links and words) from creating horizontal scrollbars
    word-break: break-word;

    // headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: $VR_EXPANDED 0 $VR_CONDENSED 0;
        font-size: $FONT_SIZE_MD;
        line-height: $LINE_HEIGHT_STANDARD;
        font-family: $FONT_FAMILY_SANS_SERIF;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @include breakpoint(SM) {
        h1 {
            font-size: $FONT_SIZE_LG;
        }
    }

    @include breakpoint(MD) {
        h1 {
            font-size: $FONT_SIZE_XL;
        }

        h2 {
            font-size: $FONT_SIZE_LG;
        }
    }

    // paragraphs
    p {
        margin: 0 0 $VR_STANDARD 0;
    }

    // sections
    blockquote {
        margin: 0 0 $VR_STANDARD 0;
        padding: $PAD_STANDARD;
        padding-left: $PAD_LARGE; // push the quote in a bit
        border-left: 6px solid $COLOR_ACCENT;
        font-style: italic;
    }

    blockquote > *:last-child {
        margin-bottom: 0 !important;
    }

    address {
        margin: 0 0 $VR_STANDARD 0;
        font-style: italic;
    }

    // inline text styles
    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    del,
    strike,
    s {
        text-decoration: line-through;
    }

    u,
    ins {
        text-decoration: underline;
    }

    sup {
        vertical-align: super;
        font-size: smaller;
    }

    sub {
        vertical-align: sub;
        font-size: smaller;
    }

    big {
        font-size: larger;
    }

    small {
        font-size: smaller;
    }

    abbr,
    acronym {
        border-bottom: dotted 1px;
    }

    cite,
    dfn {
        font-style: italic;
    }

    q {
        font-style: italic;
    }

    bdo {
        direction: rtl;
    }

    // computer output
    pre {
        margin: 0 0 $VR_STANDARD 0;
        padding: $PAD_STANDARD;
        background-color: $COLOR_DARK;
        color: $COLOR_WHITE;
        white-space: pre-wrap;
        word-break: break-word;
        line-height: 1.4;
    }

    pre,
    code,
    samp,
    tt,
    kbd {
        font-family: $FONT_FAMILY_MONOSPACE;
    }

    var {
        font-style: italic;
    }

    // lists
    ul,
    ol,
    dl {
        margin-bottom: $VR_STANDARD;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    dt {
        font-weight: bold;
    }

    li,
    dd {
        margin: 0 0 0 $VR_STANDARD;
    }

    /* nested lists have no top/bottom margins */
    ul ul,
    ul ol,
    ul dl,
    ol ul,
    ol ol,
    ol dl,
    dl ul,
    dl ol,
    dl dl {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* 2 deep unordered lists use a circle */
    ol ul,
    ul ul {
        list-style-type: circle;
    }

    /* 3 deep (or more) unordered lists use a square */
    ol ol ul,
    ol ul ul,
    ul ol ul,
    ul ul ul {
        list-style-type: square;
    }

    // horizontal rule
    hr {
        margin: 0 0 $VR_STANDARD 0;
        background: $COLOR_DARK;
        color: $COLOR_DARK;
        height: 1px;
        border: none;
        line-height: 1px;
        font-size: 1px;
    }

    // table
    table {
        margin: 0 0 $VR_EXPANDED 0;
        width: 100% !important;
        border-spacing: 0;
        border-collapse: collapse;
    }

    caption {
        font-size: smaller;
    }

    tr {
        vertical-align: middle;
    }

    tbody {
        vertical-align: middle;
    }

    thead {
        vertical-align: middle;
    }

    tfoot {
        vertical-align: middle;
    }

    td {
        vertical-align: inherit;
        text-align: left;
        padding: 2px 10px;
        border: 1px solid $COLOR_DARK;
    }

    th {
        vertical-align: inherit;
        text-align: left;
        text-transform: uppercase;
        font-family: $FONT_FAMILY_SANS_SERIF;
        font-weight: normal;
        padding: 2px 10px;
        border: 1px solid $COLOR_DARK;
    }

}
